APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

#BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.postmarkapp.com
MAIL_PORT=587
MAIL_USERNAME=b755af4d-1d0d-4c92-ab8a-1b153c6df02f
MAIL_PASSWORD=b755af4d-1d0d-4c92-ab8a-1b153c6df02f
MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

BROADCAST_DRIVER=pusher
PUSHER_APP_ID=1220152
PUSHER_APP_KEY=98d20a92ce3eea45a318
PUSHER_APP_SECRET=64112e54369a1480e0ea
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

XENDIT_ISPROD=false
XENDIT_SECRET_KEY_PROD=""
XENDIT_PUBLIC_KEY_PROD=""
XENDIT_SECRET_KEY_TEST="xnd_development_xiNhYapSXAFM72NQ2q1wbbxeF6fV7hP6mWzNhWwNLzL4LQF30LIHY3HLiHccL"
XENDIT_PUBLIC_KEY_TEST="xnd_public_development_oNIGUmHoMn3Mdsy8FHl9anrQhU0WajTI0YmJKdbLhB2ADrQYoqVnU8oAzEsb9a"
